.header{
    position: relative;
    height: 100vh;
    background: url('../images/header.jpg') center no-repeat;
    background-attachment: fixed;
    h1{
        font-family: 'Satisfy', cursive;
        font-size: 3rem;
        position: relative;
        text-align: center;
        top: 50%;
        transform: translate(0,-50%);
        color: white;
        background-color: rgba(0,0,0,0.7);
        padding: 20px 0px;
    }

    .icons{
        position: fixed;
        z-index: 20;
        overflow: hidden;
        bottom: 23px;
        left: 50%;
        transform: translate(-50%,0);
        background: rgba(0,0,0,0.8);
        width: 101%;
        box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.9)inset;

        .allIcons{
            text-align: center;
            padding: 20px;
            
            a{
                padding: 40px 8vw;
      
                img{
                    width: 50px;
             

                    @media all and (max-width: 768px) {
                        &{
                            margin: 25px;
                        }
                    }
                }

                &:hover{
                    background: rgba(0,0,0,0.5);
                    @media all and (max-width: 768px) {
                        &{
                            border-radius: 25px;
                        }
                    }
                }
            }
        }
    }


    form{
        position: fixed;
        z-index: 20;
        top: 11vh;
        left: 50%;
        transform: translate(-50%,0);
    
        
        label{

            p{
                font-size: 1.5rem;
                text-align: center;
                color: #00ccff;
                font-weight: bold;
            }

            input{
                padding: 20px;
                border-radius: 20px;
                border: none;
                width: 60vw;
                text-align: center;
                background: rgba(0,204,255,1);
                color: white;
                font-weight: bold;
                font-size: 1.2rem;
                transition-property: background-color;
                transition-duration: 0.5s;
                transition-timing-function: ease;

                @media all and (max-width: 768px) {
                    &{
                        width: 90vw;
                    }
                }

                &:hover{
                    background-color: rgb(5, 125, 155);
                }
            }
        }
    }
}