nav{
    
    .content{   
        position: fixed;
        z-index: 100;
        width: 45%;
        left: 50%;
        transform: translate(-50%, 0);
        // padding: 5px;
        background: rgba(0,0,0,0.8);
        border: 5px solid black;
        border-bottom-left-radius: 55px;
        border-bottom-right-radius: 55px;
        border-top-right-radius: 55px;
        box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.3) inset; 
        @media all and (max-width: 767px){
            &{
                width: 90%;
            }
        }

        @media all and (min-width: 1200px){
            &{
                width: 30%;
            }
        }


        .name{
            font-family: 'Satisfy', cursive;
            font-size: 2.5rem;
            position: relative;
            top: 50%;
            transform: translate(0,-50%);
            text-align: center;
            
            a{
                color: white;
                text-decoration: none;
            }
        }

        .bar{
            position: relative;
            float: right;
            height: 80px;
            width: 80px;
            top: 50%;
            transform: translate(0,-50%);
            background-color: #0cf;
            border-radius: 50%;
            transition-property: background-color, border-radius;
            transition-duration:0.5s;
            transition-timing-function: ease;
            &:hover{
                background-color: white;
            }
            .all{
                position: absolute;
                top: 19%;
                left: 28%;
                transform: rotate(90deg);
                transition-property: transform;
                transition-duration:0.5s;
                transition-timing-function: ease;
                

                .first, .second, .third{
                    position: relative;
                    display: inline-block;
                    height: 40px;
                    width: 4px;
                    margin: 3px;
                    background: black;
                    border-radius: 5px;
                    transition-property: transform;
                    transition-duration:0.5s;
                    transition-timing-function: ease;
                }

            }
        }


        .bar_active{
            position: relative;
            float: right;
            height: 80px;
            width: 80px;
            top: 50%;
            transform: translate(0,-50%);
            background-color: #0cf;
            border-radius: 50%;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            transition-property: background-color, border-radius;
            transition-duration:0.5s;
            transition-timing-function: ease;
            &:hover{
                background-color: white;
            }
            .all{
                position: absolute;
                top: 19%;
                left: 28%;
                // transform: rotate(-90deg);
                transition-property: transform;
                transition-duration:0.5s;
                transition-timing-function: ease;
                

                .first, .second, .third{
                    position: relative;
                    display: inline-block;
                    height: 40px;
                    width: 4px;
                    margin: 3px;
                    background: black;
                    border-radius: 5px;
                    transition-property: transform;
                    transition-duration:0.5s;
                    transition-timing-function: ease;
                }

                .first{
                    transform: rotate(-45deg) translate(8px,10px);
                }

                .second{
                    transform: rotate(45deg) translate(2px,0);
                }

                .third{
                    opacity: 0;
                }
            }
        }

        
    }
}

.menu{
    position: fixed;
    z-index: 10;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0,0.9);
    height: 100vh;
    width: 100vw;
    
	

    a{
        position: relative;       
        display: block;
        text-align: center;
        top: 30%;
        transform: translate(0, -50%);
        padding: 30px 0px;
        margin: 5px 0px;
        font-size: 2.5rem;
        color: white;
        // background-color: rgba(0, 204, 255, 0.2); 
        background-color: rgba(0, 0, 0, 0); 
        @media all and (max-width: 767px){
            &{
                top: 40vh;
                padding: 15px 0px;
            }
        }

        &:hover{
            text-decoration: none;
            color: black;
            background-color: rgba(0, 204, 255, 1);

        }
    }
}

.menuAnimation{
    animation-name: menu;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

.menuAnimation2{
    animation-name: menu2;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

@keyframes menu{
	from{
		transform: translate(0, -100vh);
	}
	to{
		transform: translate(0, 0vh);
	}
}

@keyframes menu2{
	from{
		transform: translate(0, 0vh);
	}
	to{
		transform: translate(0, -100vh);
	}
}

.selectMenu{
    position: fixed;
    width: 360px;
    z-index: 20;
    top: 12vh;
    left: 53%;
    transform: translate(-50%,0);
   

    .ring{
        background-color: #0cf;
     
        padding: 20px;
        border-radius: 50%;
        margin: 20px;
        

        img{
            width: 40px;
            height: 40px;
            padding: 5px;
        }
    }

    .ring_active{
        background-color: rgb(11, 85, 104);
        padding: 20px;
        border-radius: 50%;
        margin: 20px;

        img{
            width: 40px;
            height: 40px;
            padding: 5px;
        }
    }
}

